body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.colory-1{
    color: chocolate;
}
.colory-2{
    color: gray;
}
.first-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    padding-top: 10px;
}
.half-width h1{
    font-size: 50px;
}
.half-width p{
    font-size: 20px;
    padding-bottom: 15px;
    text-align: justify;
}
.half-width img{
    width: 90%;
    padding-left: 20px;
    padding-top: 5px;
}
.button-1{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 15px 35px;
    border-radius: 25px;
    color: wheat;
    font-weight: 900;
    box-shadow: 5px 10px 5px;
}
.second-width{
    width: 50%;
    margin: 20px 20px;
    text-align: justify;
    margin-right: 68px;
}
.second-width p{
    padding-bottom: 50px;
    font-size: 20px;
    padding-top: 20px;
}
.second-width img{
    width: 60%;
    padding-left: 60px;
    padding-top: 20px;
    margin-left: 60px;
}
#about-bg{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.button-2{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    margin-top: 50px;
    padding: 15px 35px;
    border-radius: 25px;
    color: wheat;
    font-weight:900;
    box-shadow: 5px 10px 5px;
}
.my-recipy{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
   padding-bottom: 20px;
}
.flex-parent{
    
    display: flex;
   flex-direction: row;
}
.mini{
    
    height: 45%;
    padding:8px 5px;
    text-align: justify;
}
.mini img{
    width: 100%;
    padding-bottom: 10px;
}
.mini h2{
    color: saddlebrown;
}
.flex-children{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 30px gray;
    margin: 3%;
    padding:15px 10px;
    border-radius: 15px;
}
.flex-area{
    padding-bottom: 100px;
}
.foot-end{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 90px;
}

.foot-end p{
    padding-top: 40px;
}
.tag{
    color: tomato;
}

.heading{
    color: orange;
    text-align: center;
    font-size:35px ;
}
.view{
    padding-bottom: 100px;
}
.social-media{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-around;
    box-shadow: 10px 10px 80px gray;
    border-radius: 20px;
    padding: 5px 5px;
   
}
.media{
    display: flex;
    flex-direction: column;
    
}
.media h1{
    
    color: brown;
    margin-left: 22%;
    
}

.subscribe{
    width: 50%;
    padding-left: 30px;
    font-weight: 900;
}
    
.subscribe img{
    width: 60%;
    padding: 25px 25px;
}
.colory-3{
    color: tomato;
}
